<section class="text-white d-flex justify-content-center align-items-center bg-primary pb-5">
  <div class="introductionBanner py-5">
    <div class="text-center">
      <h1 class="display-4 font-weight-bold"><%= t('.buy_and_sell_cryptocurrency') %></h1>
      <p><%= t('.maibee') %></p>
      <h3><%= t('.join_new_and_get_10_honey_point') %></h2>
      <div class="create_account">
          <%= form_with(url: '/users/sign_up', method: 'get', class: 'input-group input-group-lg col-10 mx-auto', local: true) do %>
          <%= text_field_tag :email,"", class:"form-control", placeholder:"email"%>
          <div class="input-group-append">
          <%= submit_tag t('.join'),class:"btn btn-success white"%>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</section>

<section class="coin_list container-fluid bg-light">
  <div class="row">
    <div class="col-lg-8 col-10 mx-auto price shadow px-0">
      <%= render 'shared/coin_list', currencies: @currencies %>
    </div>
  </div>
</section>

<div class="cointainer-fluid pt-5 invite">
  <%= render 'invite_friend/invite' %>
</div>
