<section class="dashboard container">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="asset col-12">
        <h1 class="h4"><%= t('.my_assets') %></h1>
        <%= render 'shared/wallet'%>
      </div>
      <div class="chart col-12">
        <h1 class="h4"><%= t('.chart') %></h1>
      </div>
    </div>
    <div class="orders col-lg-6 col-12">
      <h1 class="h4"><%= t('.orders') %></h1>
        <% @orders.each do |order| %>
          <%= render 'orders/order', order: order %>
        <% end %>
    </div>
  </div>
</section>
