
<div class="col-md-4 col-12 mx-auto">
  <h2 class=" pt-3 pb-3 text-center"><%= t('.sign_up') %></h2>
    <div class="sign_up bg-white p-3 border rounded h-100">
      <div class="container_box">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <% if @email == nil%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"col-12 form-control",placeholder: 'email'%>
          <%  else %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"col-12 form-control",placeholder: 'email', value: @email || ""%>
          <% end %>
        </div>

        <div class="form-group">
          <% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "new-password",class:"col-12 form-control",placeholder:"Pass word(#{@minimum_password_length} characters minimum)" %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"col-12 form-control",placeholder:"password_confirmation" %>
        </div>
        
        <div class="actions">
          <%= f.submit t('.sign_up'),class:"btn btn-primary w-100" %>
        </div>
        <% end %>
        <%= t('.already_have_an_account')%>?
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>