<table class="table-sm table bg-white mb-0 homepage-table">
  <% currencies.each do |currency| %>
  <tr>
    <% if currency[:name] == "Bitcoin"%>
      <td>
      <%= image_pack_tag 'media/images/Bitcoin_icon.png' ,class: "currency_image" %>
        <%= currency[:name] %>
      </td>
    <% elsif currency[:name] == "Dogecoin"%>
      <td>
      <%= image_pack_tag 'media/images/Dogecoin_icon.png' ,class: "currency_image" %>
        <%= currency[:name] %>
      </td>
    <% elsif currency[:name] == "Litecoin"%>
      <td>
      <%= image_pack_tag 'media/images/Litecoin_icon.png' ,class: "currency_image" %>
        <%= currency[:name] %>
      </td>
    <% elsif currency[:name] == "炒作幣"%>
      <td>
      <%= image_pack_tag 'media/images/p_coin.png' ,class: "currency_image" %>
        <%= currency[:name] %>
      </td>
    <% else %>
      <td>
        <div class="no_img currency_image"><%= currency[:name][0].downcase %></div>
        <%= currency[:name] %>
      </td>
    <% end %>
    <td>
      <%= number_to_currency(currency.last_rate, unit: '$') %>
    </td>
    <td class="global_market_flow <%= currency.latest_prices.last.percent_change_7d >= 0 ? 'text-danger' : 'text-success' if currency.latest_prices.last.percent_change_7d%>">
      <%= currency.latest_prices.last.percent_change_7d %>
    </td>
    <td>
      <%= link_to t('.buy'), exchange_path(currency.codename), class: 'market_btn' %>
    </td>
    <td>
      <%= link_to t('.sell'), sell_exchange_path(currency.codename), class: 'market_btn' %>
    </td>
  </tr>
  <% end %>
</table>
