<% if order.currency[:name] == "Bitcoin"%>
  <div>
    <%= image_pack_tag 'media/images/Bitcoin_icon.png' ,class: "currency_image" %>
    <%= order.currency[:name] %>
  </div>
<% elsif order.currency[:name] == "Dogecoin"%>
  <div>
    <%= image_pack_tag 'media/images/Dogecoin_icon.png' ,class: "currency_image" %>
    <%= order.currency[:name] %>
  </div>
<% elsif order.currency[:name] == "Litecoin"%>
  <div>
   <%= image_pack_tag 'media/images/Litecoin_icon.png' ,class: "currency_image" %>
   <%= order.currency[:name] %>
  </div>
<% elsif order.currency[:name] == "炒作幣"%>
  <div>
    <%= image_pack_tag 'media/images/p_coin.png' ,class: "currency_image" %>
    <%= order.currency[:name] %>
  </div>
<% else %>
  <div>
    <div class="no_img currency_image"><%= order.currency[:name][0] %></div>
    <%= order.currency[:name] %>
  </div>
<% end %>