<div class="col-12 mx-auto mt-3">
  <%= form_with url: markets_path, remote: true do |f|%>
    <div class="d-flex justify-content-between">
      <%= f.select(:currency_id, currencies, {},  { :class => 'btn btn-warning w-50', id:'target_currency' }) %>
    </div>
    <%= f.number_field :amount ,class:"col-12 form-control mt-3",placeholder:"#{t('.amount')}",max: 100000%>
    <%= f.number_field :sell_price, step: :any,class:"col-12 form-control mt-3",placeholder:"#{t('.sell_price')}",max: 1000000%>
    <%= f.submit "#{t('.submit_order')}", class:"btn btn-primary w-100 mt-3" %>
  <% end %>
</div>
