<div class="col-12 mx-auto mt-3">
  <div id="balance" data-balance="<%= wallets.to_json %>"></div>
  <%= form_with url: markets_path, remote: true do |f|%>
    <div class="d-flex justify-content-between">
      <%= f.select(:currency_id, currencies, {},  { :class => 'btn btn-warning w-50', id:'target_currency' }) %>
      <div>
          <span><%= t('.account_balance')%> : </span>
          <% if current_user.wallets.find_by(currency_id: (currencies[0][1])) %>
          <span id="account_balance"><%= number_to_currency(current_user.wallets.find_by(currency_id: (currencies[0][1])).amount, unit: '') %></span>
          <% else %>
            0
          <% end %>
      </div>
    </div>
    <%= f.number_field :amount ,class:"col-12 form-control mt-3",placeholder:"#{t('.amount')}",max: 100000%>
    <%= f.number_field :sell_price, step: :any,class:"col-12 form-control mt-3",placeholder:"#{t('.sell_price')}",max: 1000000%>
    <%= f.submit "#{t('.submit_order')}", class:"btn btn-primary w-100 mt-3" %>
  <% end %>
</div>
<script>
document.addEventListener("turbolinks:load", function(){
  console.log("hhh");
  
const selectElement = document.querySelector('#target_currency')

selectElement.addEventListener('change', (event) => {
  
  let idd = event.target.value
  let currency_id = JSON.parse(document.getElementById('balance').dataset.balance)
  let final_balance =  currency_id[idd] === undefined ? 0 : currency_id[idd]
   
  
  const result = document.querySelector('#account_balance');
  result.textContent = `${final_balance}`;
});
})
</script>
