<header class="bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path,class:'navbar-brand' do %>
        <%= image_pack_tag 'media/images/favicon.png' ,class: "logo" %>
        Maibee
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to t('.dashboard'), dashboard_index_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('.buy_and_sell'), exchanges_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to  markets_path, class:'nav-link' do %>
              <%= t('.market') %><span class="badge badge-danger"><%= t('.real_time') %>
            </span>
          <% end %>
          </li>
          <li class="nav-item">
            <%= link_to invite_friend_index_path, class: 'nav-link' do %>
              <%= t('.invite_friends') %><span class="badge badge-warning"><%= t('.earn_up_to') %> 200HP</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to '🔥Demo Day 炒幣排行', demo_event_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in?%>
            <li class="nav-item">
              <%= link_to wallets_path,class: 'nav-link' do %>
                <i class="fas fa-wallet"></i>
                <%= t('.wallet') %>:<%= number_to_currency(current_user.total_assets, unit: '') %>
              <% end %>
            </li>
            <li class="nav-item dropdown" id="notice_record" name = "unread">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <p class=" d-inline-block my-0 " id="bell"><%= current_user.unread%></p>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @records.each do |record| %>
                <div class="dropdown-item d-flex">
                <% if record.order_type == "order"%>
                  <%= link_to record.content, orders_path, class: "nav-link" %>
                <% elsif record.order_type == "transfer" %>
                  <%= link_to record.content, transfers_path, class: "nav-link" %>
                <% else %>
                  <%= link_to record.content, markets_path, class: "nav-link" %>
                <% end %>
                </div>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to edit_user_registration_path, class: "dropdown-item" do%>
                  <%= current_user.email%>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to t('.orders'), orders_path, class: 'dropdown-item' %>
                <%= link_to t('.transfers'), transfers_path, class: 'dropdown-item' %>
                <%= link_to t('.log_out'), destroy_user_session_path, method: 'delete', class: "dropdown-item" %>
              </div>
            </li>


          <% else %>

            <li class="nav-item">
              <%= link_to t('.sign_up'), new_user_registration_path, class: "nav-link"%>
            </li>

            <li class="nav-item">
              <%= link_to t('.log_in'), new_user_session_path, class: "nav-link"%>
            </li>

          <% end %>

        </ul>
      </div>
    </nav>
  </div>
</header>


