<table class="table">
  <% @wallets.each do |wallet| %>
  <tr>
    <td>
      <%= wallet.currency.name %>
    </td>
    <td>
      <%= wallet.amount %>
    </td>
    <td>
      <%= link_to t('.buy'), exchange_path(wallet.currency), class: 'btn btn-primary btn-sm' %>
      <%= link_to t('.send'), new_transfer_path(wallet.currency),  class: 'btn btn-primary btn-sm'%>
    </td>
  </tr>
  <% end %>
</table>
<div class="my-3 container">
  <%= render 'shared/limit_order_link'%>
</div>
