<table class="table">
  <tr>
    <td colspan="3"><h3 class="h4"><%= t('.total_assets') %></h3></td>
  </tr>
  <tr>
    <td colspan="3">
      <%= current_user.total_assets %>
    </td>
  </tr>
  <tr>
  <% @wallets.each do |wallet| %>
    <% if wallet.currency.codename == 'HP' %>
      <tr>
        <td colspan="3"><h3 class="h4"><%= t('.wallet') %></h3></td>
      </tr>
      <tr>
        <td>
          <%= wallet.currency.name %>
        </td>
        <td>
          <%= wallet.amount %>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan="3"><h3 class="h4"><%= t('.crypto') %></h3></td>
      </tr>
    <% else %>
  <tr>
    <td>
      <%= wallet.currency.name %>
    </td>
    <td>
      <%= wallet.amount %>
    </td>
    <td class= "wallet_btn d-flex">
        <%= link_to t('.buy'), exchange_path(wallet.currency), class: 'wallet_three_btn mx-1' %>
        <%= link_to t('.sell'), sell_exchange_path(wallet.currency), class: 'wallet_three_btn mx-1' %>
        <%= link_to t('.send'), new_transfer_path(wallet.currency),  class: 'wallet_three_btn mx-1'%>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
<div class="my-3 container">
  <%= render 'shared/limit_order_link'%>
</div>
