    <table class="table">
      <% @wallets.each do |wallet| %>
      <tr>
        <% if @currencies.find_by(id: wallet.currency_id).name == "NTD"%>
        <% else %>
        <td><%= @currencies.find_by(id: wallet.currency_id).name %></td>
        <td><%= wallet.amount %></td>
        <td><%= link_to 'Buy', exchange_path(@currencies.find_by(id: wallet.currency_id)) %></td>
        <td><%= link_to 'Send', new_transfer_path %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <%= render 'shared/limit_order_link'%>
