<div class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
<%= link_to order_path(order) do %>
    <h5 class="mb-1"><%= t('.order_number') %>: <%= order.number %></h5>
<% end %>
    <small class="text-muted">
      <%= time_ago_in_words(order.created_at) %></small>
  </div>
  <div class="row">
  </div>
  <p class="mb-1"><%= t('.amount') %>: <%= number_to_currency(order.amount, unit: '') %></p>
  <p class="mb-1"><%= t('.deal_price') %>: <%= number_to_currency(order.price, unit: '') %></p>
  <p class="mb-1"><%= t('.total_price') %>: <%= number_to_currency(order.price * order.amount, unit: '')%></p>
  <p class="mb-1"><%= t('.status') %>: <%= order.state %></p>
  <p class="mb-1"><%= link_to t('.pay_now'), pay_order_path(order), method: 'post'  if order.state == 'unpaid'%></p>
</div>
