<div class="col-12 col-lg-10 text-center mx-auto">
  <div class="card">
    <h2 class="h4"><%= t('.order_details') %></h2>
    <table class="table table-striped">
      <tbody>
        <tr><th><%= t('.order_number') %></td> <td><%= @order.number %></td></tr>
        <tr><th><%= t('.created_date') %></td> <td><%= I18n.l(@order.created_at) %></td></tr>
        <tr><th><%= t('.amount') %></td> <td><%= number_to_currency(@order.amount, unit: '') %></td></tr>
        <tr><th><%= t('.deal_price') %></td> <td><%= number_to_currency(@order.price, unit: '$',precision: 5) %></td></tr>
        <tr><th><%= t('.total_price') %></td> <td><%= number_to_currency(@order.price * @order.amount, unit: '$',precision: 5) %></td></tr>
        <tr>
          <th><%= t('.status') %></td>
          <td>
              <%= @order.state %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% if @order.state == 'unpaid' %>
              <%= link_to t('.confirm'), pay_order_path(@order), method: 'post', class: 'btn btn-primary btn-sm'%>
            <% else %>
              <%= link_to t('.wallet'), wallets_path, class: 'btn btn-primary btn-sm'%>
              <%= link_to t('.to_market'), markets_path, class: 'btn btn-primary btn-sm'%>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
