<div class="container-fluid">
  <div class="row">

    <div class="col-md-7 col-12 mx-lg-auto mb-5">
      <div class="w-100 mb-5">
        <%= render 'shared/charts', currency: @demo_currency%>
      </div>
      <div class="w-100 mt-3">
       <div class="row">
        <div class="col-md-3 col-12 pr-md-0">
          <div class="list-group" id="list-tab" role="tablist">
            <a class=" list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><%= t('.my_selling_list') %></a>
            <a class=" list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><%= t('.deal') %></a>
            <a class=" list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><%= t('.cancelled_orders') %></a>
            <a class=" list-group-item list-group-item-action" id="list-balance-list" data-toggle="list" href="#list-balance" role="tab" aria-controls="balance"><%= t('.balance') %></a>
            <a class=" list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><%= t('.new_limit_order') %></a>
          </div>
        </div>
        <div class="col-md-9 col-12 market_info pr-2">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              <div class="head_row">
                <div><%= t('.currency') %></div>
                <div><%= t('.amount') %></div>
                <div><%= t('.sell_price') %></div>
                <div><%= t('.total_price') %></div>
                <div></div>
              </div> 
              <div class="table_for_currency">
                <% @limit_orders.pending.reverse.each do |order|%>
                <div class="body_row" id="market<%= order.id%>">
                  <%= render 'shared/coin_icon', order: order%>
                  <div><%= order.amount%></div>
                  <div><%= number_to_currency(order.sell_price, unit: '')%></div>
                  <div><%= number_to_currency(order.price, unit: '')%>
                  </div>
                  <div><%= link_to t('.cancel'), edit_market_path(order)%></div>
                </div>
                <% end %>
            </div>
          </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <div class="head_row">
                <div><%= t('.currency') %></div>
                <div><%= t('.amount') %></div>
                <div><%= t('.sell_price') %></div>
                <div><%= t('.total_price') %></div>
              </div>
              <div class="table_for_currency">
              <% @limit_orders.closed_deal.reverse.each do |order|%>
                <div class="body_row">
                  <%= render 'shared/coin_icon', order: order%>
                  <div><%= order.amount%></div>
                  <div><%= number_to_currency(order.sell_price, unit: '')%></div>
                  <div><%= number_to_currency(order.price, unit: '')%>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
              <div class="head_row">
                <div><%= t('.currency') %></div>
                <div><%= t('.amount') %></div>
                <div><%= t('.sell_price') %></div>
                <div><%= t('.total_price') %></div>
              </div>
              <div class="table_for_currency">
                <% @limit_orders.cancelled.reverse.each do |order|%>
                  <div class="body_row">
                    <%= render 'shared/coin_icon', order: order%>
                    <div><%= order.amount%></div>
                    <div><%= number_to_currency(order.sell_price, unit: '')%></div>
                    <div><% if order.price > 1000000 %>
                      <%= number_to_human(order.price) %>
                      <% else %>
                      <%= number_to_currency(order.price, unit: '')%>
                      <% end %>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="list-balance" role="tabpanel" aria-labelledby="list-balance-list">
            <table class="table">
              <% @account_balance.each do |b| %>
              <tr>
                <td>
                  <%= b.currency[:name] %>
                </td>
                <td>
                  <%= number_to_currency(b[:amount],unit: '') %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
              <%= render 'shared/create_limit_order', currencies: @currencies_to_trade, wallets: @wallets %>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>

    <div class="col-md-5 col-12 mx-auto pl-md-0">
      <h2 class="h5 text-center mt-3"><%= t('.global_market')%></h2>
      <div class="overflow-auto" style="height: 47vh;">
        <%= render 'shared/coin_list', currencies: @currencies%>
      </div>
      <h1 class="h5 text-center"><%= t('.Maibee_Market') %></h1>
      <div style="height: 44vh;">
          <div class="head_row">
            <div><%= t('.currency') %></div>
            <div><%= t('.amount') %></div>
            <div><%= t('.sell_price') %></div>
            <div><%= t('.total_price') %></div>
            <div></div>
          </div>
        <div class="table_for_currency">
            <div id="new_order"></div>
            <% @limit_orders_selling.each do |order|%>
              <div class="body_row" id="tmarket<%= order.id %>">
                <%= render 'shared/coin_icon', order: order%>
                <div><%= order.amount%></div>
                <div><%= number_to_currency(order.sell_price, unit: '')%></div>
                <div><%= number_to_currency(order.price, unit: '')%>
                </div>
                <% if order.user_id == current_user.id%>
                <div><%=t('.my_order')%></div>
                <% else %>
                <div><%= link_to t('.buy'), bit_market_path(order.id), method: 'post'%></div>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
