    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><%= t('.my_selling_list') %></a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><%= t('.deal') %></a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><%= t('.cancelled_orders') %></a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><%= t('.new_limit_order') %></a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <table class="table">
          <thead>
            <tr>
              <td><%= t('.currency') %></td>
              <td><%= t('.amount') %></td>
              <td><%= t('.sell_price') %></td>
              <td><%= t('.total_price') %></td>
              <td></td>
            </tr>
          </thead>  
          <tbody> 
            <% @limit_orders.each do |order|%>
              <tr id="market<%= order.id%>">
                <%= render 'shared/coin_icon', order: order%>
                <td><%= order.amount%></td>
                <td><%= order.sell_price%></td>
                <td><%= order.price%></td>
                <td><%= link_to t('.cancel'), edit_market_path(order)%></td>
              </tr>
            <% end %>
          </tbody>
        </table></div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <table class="table">
          <thead>
            <tr>
              <td><%= t('.currency') %></td>
              <td><%= t('.amount') %></td>
              <td><%= t('.sell_price') %></td>
              <td><%= t('.total_price') %></td>
            </tr>
          </thead>  
          <tbody> 
          
          <% @limit_orders_deal.each do |order|%>
            <tr>
              <%= render 'shared/coin_icon', order: order%>
              <td><%= order.amount%></td>
              <td><%= order.sell_price%></td>
              <td><%= order.price%></td>
            </tr>
            <% end %>
          </tbody>
        </table></div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <table class="table">
          <thead>
            <tr>
              <td><%= t('.currency') %></td>
              <td><%= t('.amount') %></td>
              <td><%= t('.sell_price') %></td>
              <td><%= t('.total_price') %></td>
            </tr>
          </thead>  
          <tbody> 
            <% @limit_orders_cancelled.each do |order|%>
              <tr>
                <%= render 'shared/coin_icon', order: order%>
                <td><%= order.amount%></td>
                <td><%= order.sell_price%></td>
                <td><%= order.price%></td>
              </tr>
            <% end %>
          </tbody>
        </table></div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
          <%= render 'shared/create_limit_order', currencies: @currencies %>
        </div>
      </div>
    </div>