<div class="container">
  <div class="d-flex flex-column">
    <div class="col-md-12">
      <h1>My selling List</h1>
      <table class="table">
        <thead>
          <tr>
            <td><%= t('.currency') %></td>
            <td><%= t('.amount') %></td>
            <td><%= t('.sell_price') %></td>
            <td><%= t('.total_price') %></td>
            <td></td>
          </tr>
        </thead>  
        <tbody> 
          <% @limit_orders.each do |order|%>
            <tr>
              <td><%= order.currency[:name]%></td>
              <td><%= order.amount%></td>
              <td><%= order.sell_price%></td>
              <td><%= order.price%></td>
              <td><%= link_to t('.cancel'), edit_market_path(order)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <table class="table">
        <h1 class="h4"><%= t('.deal') %></h1>
        <thead>
          <tr>
            <td><%= t('.currency') %></td>
            <td><%= t('.amount') %></td>
            <td><%= t('.sell_price') %></td>
            <td><%= t('.total_price') %></td>
          </tr>
        </thead>  
        <tbody> 
        
        <% @limit_orders_deal.each do |order|%>
          <tr>
            <td><%= order.currency[:name]%></td>
            <td><%= order.amount%></td>
            <td><%= order.sell_price%></td>
            <td><%= order.price%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <table class="table">
        <h1 class="h4"><%= t('.cancelled_orders') %></h1>
        <thead>
          <tr>
            <td><%= t('.currency') %></td>
            <td><%= t('.amount') %></td>
            <td><%= t('.sell_price') %></td>
            <td><%= t('.total_price') %></td>
          </tr>
        </thead>  
        <tbody> 
          <% @limit_orders_cancelled.each do |order|%>
            <tr>
              <td><%= order.currency[:name]%></td>
              <td><%= order.amount%></td>
              <td><%= order.sell_price%></td>
              <td><%= order.price%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
