<ul class="list-group">
  <% @transfers.each do |transfer| %>
    <li class="list-group-item">
      <h3>
        <%= transfer.num %>
      </h3>
      <p><%= t('.transfers') %> <%= transfer.amount %> <%= t('.to') %> <%= transfer.target %>.</p>
    </li>
  <% end %>
  <% unless @order %>
    <h1 class="h4"><%= t('.no_transfer_record_yet') %></h1>
  <% end %>
</ul>
