  <section class="container">
    <div class="row">
      <div class="jumbotron shadow bg-light mx-auto">
          <h1 class="display-4"><%= t('.maibee_launch_special') %></h1>
          <h2 class="display-6"><%= t('.register_now_and_get') %> <em class="text-warning">20 HoneyPoints</em> <%= t('.for_free') %></h2>
        <hr class="my-4">
        <p><%= t('.new_member_who_is_registered_before_2020_may_will_get_10_honey_coin') %></p>
        <p><%= t('.new_member_who_made_a_first_transaction_will_receive_another_10_honey_coin') %></p>
        <a href="#"><%= t('.go_to_invitation_page') %></a>
      </div>
    </div>
  </section>
