<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maibee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column vh-100">
      <%= render "shared/header" %>
      <div class="container">
        <%= render 'shared/notice' %>
      </div>
      <div class="flex-fill">
        <% if @show_menu == true %>
          <main class="container">
            <div class="row">
              <div class="col-lg-5">
                <%= render 'shared/user_menu' %>
              </div>
              <div class="col-lg-7">
                <%= yield %>
              </div>
            </div>
          </main>   
        <% else %>
          <main>
            <%= yield %>
          </main>   
        <% end %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
