<!DOCTYPE html>
<html>
  <head>
    <title>Maibee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= render "shared/header" %>
    <% if @show_menu == true %>
      <main class="container">
        <div class="row">
          <div class="col-lg-5">
            <%= render 'shared/user_menu' %>
          </div>
          <div class="col-lg-7">
            <%= yield %>
          </div>
        </div>
      </main>   
    <% else %>
      <main>
        <%= yield %>
      </main>   
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>
